

.footer{
    margin-top: 50px;
    width: 100%;
    height: 250px;
    background-color: rgb(248, 248, 248);
    border-top: 1px solid rgb(200, 200, 200);
    color: rgb(45, 45, 45);
}

.footerContent{
    font-size: small;
    margin-top: 5px;
    display: flex;
    justify-content : space-between;
}

.footerBottom{
    margin-top: 30px;
    font-size: smaller;
}