
.header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 20px; /* 로고와 검색창 사이 간격 */
}


.logo {
  display: flex; /* 이미지를 중앙에 배치하기 위함 */
  align-items: center;
}

.logo img {
  height: 38px; /* 로고의 높이를 40px로 고정 (원하는 크기로 조절) */
  width: auto; /* 높이에 맞춰 너비 자동 조절 (비율 유지) */
  object-fit: contain; /* 이미지가 잘리지 않고 영역 안에 맞게 */
  margin-right: 10px; /* 로고와 다음 요소 사이의 간격 */
}

/* 검색창 */
.searchBar {
  display: flex;
  height: 40px;
  width: 300px;
  border: 1px solid #616162;
  border-radius: 20px;
  overflow: hidden;
}

.searchBar input {
  flex-grow: 1; /* input이 남는 공간 차지 */
  width: 0;
  border: none;
  padding: 8px 15px;
  font-size: 15px;
  outline: none;
  background: none;
}

.searchBar button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 18px; 
  padding: 0 15px; 
  flex-shrink: 0; /* 아이콘 버튼이 찌그러지지 않도록 */
}
.searchBar button:hover {
  color: #764fd9;
}

/* 사용자 메뉴 (로그인/내 예약) */
.userName, .userMenu {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.userName button, .userMenu button, .userName a, .userMenu a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px; 
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit; /* [추가] 폰트 상속 */
  text-decoration: none; 
  color: #333; 
}

.adminButton{
  text-decoration: none;
  color : #ffffff;
  background-color: #bd0000;
  padding: 8px 12px;
  border-radius: 15px;
}

.adminButton :hover{
  color : #00ff2f;
}

.userMenu a {
  font-size: 20px;
}
