.bannerContainer{
    width: 100%;
    margin-bottom: 30px;
    background-color: #2c2c2c;
    padding: 0;
    overflow: hidden;  /* 슬라이더가 빠져나가지 않게*/
    box-sizing: border-box;
    padding-left: 1px;
    padding-right: 1px;
}

.bannerContainer :global(.slick-list) {
    /* (트릭 2) 1px 밖으로 당겨내기 */
    margin-left: -1px;
    margin-right: -1px;
}

.slideItem{
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bannerImage{
    width: 100%;
    max-width: 1200px;
    height: 250px;
    object-fit: cover;
}

.bannerContainer :global(.slick-dots){
     bottom: 15px;  /*점 위치 아래로 */
}

.bannerContainer :global(.slick-dots li button::before){
    color:white;
    font-size: 10px;
}