@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap');


body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  font-family: "Hahmlet", serif;
}

* {
  box-sizing: border-box; /* (이건 다른 스타일) */
  font-family: inherit; /* 부모(body)의 폰트를 상속받도록 함 */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.app-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper{
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 200px;
  padding-right: 200px;
  box-sizing: border-box;
}

.main-content{
  flex-grow: 1;
  padding: 0;
}